<header class="site-header">
<div class = "logo">
    <%= image_tag("globe.png") %>
    <span>relo</span>
    <p class ="cheesy-phrase">the language exchange</p>
</div>
<div class = "glyphicons">
  <i class="fa fa-facebook fa-2x"></i>
  <i class="fa fa-twitter fa-2x"></i>
  <i class="fa fa-github-alt fa-2x"></i>
  <i class="fa fa-pinterest fa-2x"></i>
  
</div>
<div class="nav-container">
  <ul class="header-nav">
    <%if current_user%><li><a href="/users/<%=current_user.id%>">PROFILE</a></li><%end%>
    <li><a href="/all_users">VIDEO CHAT</a></li>
    <li><a href="#">ABOUT</a></li>
    <li><a href="#">CONTACT</a></li>
  </ul>
</div>
</header>
<p class="green-bar">
  <span>❝If you talk to a man in a language he understands, that goes to his head. If you talk to him in his own language, that goes to his heart.❞<span>
  <br><br>
  Nelson Mandela
</p>
<h3 class ="choose-a-language">choose a language</h3>
<div class = "grid-container">
  <div class= "square-container">
    <div class ="square">
      <div class="uk outline"></div>
      <div class="uk flag"></div>
    </div>
    <div class ="square">
      <div class="india outline"></div>
      <div class="india flag"></div>
    </div>
    <div class ="square">
      <div class="france outline"></div>
      <div class="france flag"></div>
    </div>
    <div class ="square">
      <div class="germany outline"></div>
      <div class="germany flag"></div>
    </div>
    <div class ="square">
      <div class="portugal outline"></div>
      <div class="portugal flag"></div>
    </div>
    <div class ="square">
      <div class="russia outline"></div>
      <div class="russia flag"></div>
    </div>
    <div class ="square">
      <div class="spain outline"></div>
      <div class="spain flag"></div>
    </div>
    <div class ="square">
      <div class="china outline"></div>
      <div class="china flag"></div>
    </div>
    <div class ="square">
      <div class="pakistan outline"></div>
      <div class="pakistan flag"></div>
    </div>
    <div class ="square">
      <div class="indonesia outline"></div>
      <div class="indonesia flag"></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
